::selection {
  background: rgba(0, 0, 0, .99);
  color: #fff;
}
::-moz-selection {
  background: rgba(0, 0, 0, .99);
  color: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

div {
  margin-bottom: 1rem;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  /* text-transform: uppercase; */
  line-height: 1.5;
}

body {
  background: #fff;
}

.temp-unit {
  text-transform: uppercase;
}

h1 {
  font-weight: 400;
  font-size: 3.5rem;
}

span, p, a, h2{
  font-weight: 300;
  font-size: 1.25rem;
}

.loading::after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  animation: ellipsis steps(5,end) 1000ms infinite;
  content: "\002E""\002E""\002E""\002E""\002E"; /* ascii code for the ellipsis character */
  width: 0px;

}

.options-container {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.options.hidden {
  display: none;
}

.options-button {
  order: 2;
}

.options {
  order: 1;
}

.options button:first-child {
  margin-bottom: 1rem;
}

.options {
  background: rgb(255, 255, 255, .5);
  backdrop-filter: blur(10px);
  padding: 1rem;
  border-radius: 6px;
  outline: 1px solid rgb(0, 0, 0, .125);
}

.options button span {
  text-decoration: underline;
}

.options button span:not(.active) {
  color: rgb(0, 0, 0, .5);
  text-decoration: none;
}

.options button span.active {
  text-decoration: none;
}

footer {
  text-align: right;
  position: fixed;
  bottom: 0;
  right: 0;
}

button {
  font-weight: 700;
  font-size: 1rem;
  background: transparent;
  border: none;
  color: #000;
}

@media (max-width: 500px) {
  span, p, a, h2{
    font-size: 1.125rem;
  }
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: 600;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 10vw;
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a:hover {
    text-decoration: underline;
  }
  button:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  .options button:hover {
    text-decoration: none;
    span:not(.active) {
      text-decoration: underline;
    }
  }
  
}

@keyframes ellipsis {
  to {
    width: 2rem;    
  }
}
