.main {
  padding: 2rem 3rem 1rem 3rem;
  max-width: 1000px;
}

.inline {display: inline-block;}

/* Mobile */
@media (max-width: 700px) {
  .main {
    padding: 1rem;
  }
  
  .content {
    padding: 4rem;
  }
}
